<div class="container">
  <% provide :title, "Romantical" %>

  <h1><%= yield :title %></h1>

  <div class="row">
    <div class="span10 offset1">

<!--       <form class="well form-search">

        <input type="text" class="input-medium search-query">
        <input type="text" class="input-medium search-query">

        <button type="submit" class="btn">Search</button>
      </form> -->
    </div>
  </div>   


        
  <table>
    <tr><td><%= link_to "User Profiles", profiles_path %></td></tr>
  </table>    
</div>
